<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>

</head>
<body>
    <h1>Tell us about your favourite car!!!</h1>
    <form id="car-form-data" method="POST" action="">
        <label for="car-brand-input">Brand</label>
        <input id="car-brand-input" name="car-brand-input" type="text">

        <label for="car-model-input">Model</label>
        <input id="car-model-input" name="car-model-input" type="text">

        <label for="car-year-input">Year</label>
        <input id="car-year-input" name="car-year-input" type="date">
        
        <label for="car-colour-input">Colour</label>
        <input id="car-colour-input" name="car-colour-input" type="color">
    </form>
    <button id="submit-car-data">Submit</button>
    <div class="card-cont">
     <% carData.forEach((item, index) =>{ %>
        <div class="car-data-card-cont">
        <p>Car Brand:   <%= item.brand %></p>
        <label for="car-brand-update">Update brand</label>
        <input id="car-brand-update<%=index%>" name="car-brand-update" type="text" value="<%= item.brand %>">

        <p>Car Model:   <%= item.model %></p>
        <label for="car-model-update">Update model</label>
        <input id="car-model-update<%=index%" name="car-model-update" type="text" value="<%= item.model %>">

        <p>Date of Model:   <%= item.date %></p>
        <label for="car-date-update">Update date</label>
        <input id="car-date-update<%=index%" name="car-date-update" type="date" value="<%= item.date %>">

        <div id="colour-patch" style="background-color:<%= item.colour %>" id="colour-patch"></div>
        <label for="car-colour-update">Update Colour</label>
        <input id="car-colour-update" name="car-colour-update" type="color" value="<%= item.model %>">
            
        <button data-mongoid="<%= item._id %>" class="update-post">Update Post</button>
        <button data-mongoid="<%= item._id %>" class="delete-post">Delete Post</button>
        </div>
     <%})%>
    </div>
    


</body>
<script type="text/javascript"  src="main.js"></script>
</html>